## AceleraDev - ENEM 2016

In [3]:
import pandas as pd
import numpy as np
import sklearn

In [5]:
df_treino = pd.read_csv(r"C:\Users\carol\Google Drive\Data\AceleraDev\train.csv", usecols=colunas_treino)

In [4]:
colunas_treino = ["NU_INSCRICAO", "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT"]

In [6]:
df_treino

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,399.4
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,459.8
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN
...,...,...,...,...,...
13725,aadf671ef8c1c6efa42e69432093ab83c17a52ac,438.2,419.7,394.5,403.2
13726,461f7ef2753d9d5fa0b054930d6b0e0eec318e81,423.8,557.9,533.0,452.4
13727,5354503700ecf2388f68990435390b6e1ad454ee,460.5,528.9,569.3,398.0
13728,c7a9e94a42bd76b7978f13c013a61702e36cc42c,422.5,621.7,569.0,386.6
13729,0af8939c470a600b30bdaa80375ee0db848b0e35,488.7,575.3,565.9,428.9

In [7]:
df_treino = df_treino.fillna(0)
df_treino = df_treino.set_index("NU_INSCRICAO")

In [8]:
df_treino

,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT
NU_INSCRICAO,,,,
ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,399.4
2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,459.8
f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,0.0,0.0,0.0,0.0
3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,0.0,0.0,0.0,0.0
bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,0.0,0.0,0.0,0.0
...,...,...,...,...
aadf671ef8c1c6efa42e69432093ab83c17a52ac,438.2,419.7,394.5,403.2
461f7ef2753d9d5fa0b054930d6b0e0eec318e81,423.8,557.9,533.0,452.4
5354503700ecf2388f68990435390b6e1ad454ee,460.5,528.9,569.3,398.0
c7a9e94a42bd76b7978f13c013a61702e36cc42c,422.5,621.7,569.0,386.6
0af8939c470a600b30bdaa80375ee0db848b0e35,488.7,575.3,565.9,428.9

In [31]:
df_teste = pd.read_csv(r"C:\Users\carol\Google Drive\Data\AceleraDev\test.csv", usecols=colunas_teste)

In [32]:
colunas_teste = ["NU_INSCRICAO", "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC"]

In [33]:
df_teste = df_teste.fillna(0)
df_teste = df_teste.set_index("NU_INSCRICAO")

In [34]:
df_teste.head()

                                          NU_NOTA_CN  NU_NOTA_CH  NU_NOTA_LC
NU_INSCRICAO
73ff9fcc02f0a99919906c942c2e1a1042cdcf98       464.8       443.5       431.8
71a95f9f1b91a82c65ad94abbdf9f54e6066f968       391.1       491.1       548.0
b38a03232f43b11c9d0788abaf060f7366053b6d       595.9       622.7       613.6
70b682d9a3636be23f6120fa9d6b164eb3c6002d         0.0         0.0         0.0
715494628a50142ce8cb17191cfe6d0f3cae0934       592.9       492.6       571.4

## modelos

In [13]:
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor

In [14]:
regressores= [
    SVR(),
    KNeighborsRegressor(n_jobs=-1),
    DecisionTreeRegressor(random_state=13),
    RandomForestRegressor(random_state=13, n_jobs=-1),
    MLPRegressor(random_state=13)]

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import math

In [16]:
X = df_treino.drop(columns= 'NU_NOTA_MT').values
y = df_treino['NU_NOTA_MT'].values

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=13)

In [21]:
for regr in regressores:
    
    # rodada de treino:
    regr.fit(X_train, y_train)
    
    # rodada de teste:
    y_predito = regr.predict(X_test)
    
    # pegando o nome do algoritmo
    regressor = regr.__class__.__name__
    
    # imprimindo os resultados
    print("="*33)
    print(regressor)
    print("=== Resultado ===")
    print("Mean Squared Error (MSE)", mean_squared_error(y_test, y_predito))
    print("Root Mean Squared Error (RMSE)", math.sqrt(mean_squared_error(y_test, y_predito)))
    print("Mean Absolute Error (MAE)", mean_absolute_error(y_test, y_predito))
    print("R Squared (RÂ²)", r2_score(y_test, y_predito))

=================================
SVR
=== Resultado ===
Mean Squared Error (MSE) 5480.535603485348
Root Mean Squared Error (RMSE) 74.0306396263422
Mean Absolute Error (MAE) 49.5650134010906
R Squared (RÂ²) 0.8968252050967102
=================================
KNeighborsRegressor
=== Resultado ===
Mean Squared Error (MSE) 4912.434820157297
Root Mean Squared Error (RMSE) 70.08876386523946
Mean Absolute Error (MAE) 46.974284882027376
R Squared (RÂ²) 0.9075200871383476
=================================
DecisionTreeRegressor
=== Resultado ===
Mean Squared Error (MSE) 8232.347588115352
Root Mean Squared Error (RMSE) 90.73228525786922
Mean Absolute Error (MAE) 61.125342266239436
R Squared (RÂ²) 0.845020480582913
=================================
RandomForestRegressor
=== Resultado ===
Mean Squared Error (MSE) 4655.663113859598
Root Mean Squared Error (RMSE) 68.23241981536049
Mean Absolute Error (MAE) 46.24859947567725
R Squared (RÂ²) 0.9123539884302916
=================================
MLPRegressor
=== Resultado ===
Mean Squared Error (MSE) 4551.184856398365
Root Mean Squared Error (RMSE) 67.462469984417
Mean Absolute Error (MAE) 45.50250326292086
R Squared (RÂ²) 0.9143208623939532

In [23]:
RFR = RandomForestRegressor(random_state=13, n_jobs=-1)

In [25]:
RFR.fit(X_train, y_train)
y_pred= RFR.predict(X_test)

In [35]:
y_pred

array([484.841, 499.749, 435.967, ..., 565.237, 432.177,   0.   ])

In [36]:
teste = df_teste.values
y_pred_teste = RFR.predict(teste)

In [37]:
y_pred_teste

array([442.378, 455.619, 626.837, ..., 631.385, 476.543,   0.   ])

In [40]:
df_teste['NU_NOTA_MT'] = y_pred_teste

In [41]:
df_teste

,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,matematica,NU_NOTA_MT
NU_INSCRICAO,,,,,
73ff9fcc02f0a99919906c942c2e1a1042cdcf98,464.8,443.5,431.8,442.378,442.378
71a95f9f1b91a82c65ad94abbdf9f54e6066f968,391.1,491.1,548.0,455.619,455.619
b38a03232f43b11c9d0788abaf060f7366053b6d,595.9,622.7,613.6,626.837,626.837
70b682d9a3636be23f6120fa9d6b164eb3c6002d,0.0,0.0,0.0,0.000,0.000
715494628a50142ce8cb17191cfe6d0f3cae0934,592.9,492.6,571.4,536.610,536.610
...,...,...,...,...,...
dac0f22429c7f8e3931d0abaf5dfc8e5c772a48b,398.3,558.2,511.6,452.103,452.103
a75fa8770257e7c9368d059fe53d9ef431f4bdef,427.6,579.7,471.1,482.352,482.352
655fa6306720ff16e825903b5422a46608a77545,639.2,643.8,604.9,631.385,631.385
1f4bc3e3d56212d500625bfe8ac78ccff4362293,427.1,467.9,540.2,476.543,476.543
adf0d15b54317b6564ef56dad2b775bbb0ef50cc,0.0,0.0,0.0,0.000,0.000

In [43]:
final = df_teste.drop(columns=['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'matematica'])
final.to_csv('answer.csv', index=True)